.prose ul{list-style-type:none;padding-left:0}.prose li{margin-bottom:.5em;padding-left:1.5em;position:relative}.prose li:before{background-color:#e60000;border-radius:50%;content:"";height:6px;left:0;position:absolute;top:.6em;width:6px}
