.fade-enter-active[data-v-27cae0ee],.fade-leave-active[data-v-27cae0ee]{transition:all .5s ease}.fade-enter-from[data-v-27cae0ee],.fade-leave-to[data-v-27cae0ee]{opacity:0;transform:translateY(10px)}
